<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pg4600.loktho14.student.westerdals.innleveringen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Startskjerm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Spillskjerm"
            android:label="@string/title_activity_startskjerm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Resultathistorikkskjerm"></activity>
    </application>

</manifest>
